body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
}

header {
    color: white;
    text-align: center;
    padding: 12px 0;
    font-size: 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#map {
    height: 80vh;
    width: 100%;
    border-top: 1px solid #ccc;
}

.pac-container {
    z-index: 4000 !important;
    position: absolute !important;
}