{% extends 'base.html' %}
{% load static %}

{% block title %}Create Event | EventScout{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
    <h1 class="mb-4">Event Dashboard</h1>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createEventModal">
        + Create New Event
    </button>
    <div class="modal fade" id="createEventModal" tabindex="-1" aria-labelledby="createEventModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="text-align: center">
                <form method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="createEventModalLabel">{% if editing %} Edit Event {% else %} Create New Event {% endif %}</h5>
                        <a href="{% url 'events.create_event' %}"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" href="{% url 'events.create_event' %}"></button></a>
                    </div>

                    <div class="modal-body">
                        {{ form.as_p }}
                    </div>

                    <div class="modal-footer">
                        <a href="{% url 'events.create_event' %}"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button></a>
                        {% if editing %}
                        <button type="submit" class="btn btn-success" href="{% url 'event_list' %}">Edit Event</button>
                        {% else %}
                        <button type="submit" class="btn btn-success">Create Event</button>
                        {% endif %}
                    </div>
                </form>

            </div>
        </div>
    </div>
    <h3 class="mt-5">My Events</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date & Time</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            {% for event in your_events %}
            <tr>
                <td>{{ event.title }}</td>
                <td>{{ event.start_time|date:"M d, Y - H:i" }}</td>
                <td>{{ event.location }}</td>
                <td>
                    <a href="{% url 'events.edit_event' event.id %}" class="btn btn-warning">Edit</a>
                    <a href="{% url 'events.delete_event' event.id %}" class="btn btn-danger">Delete</a>
                </td>           
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">You haven’t created any events yet.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% if editing %}
<script>
  var myModal = new bootstrap.Modal(document.getElementById('createEventModal'), {})
  myModal.toggle()
</script>
{% endif %}
{% endblock %}
